:root {
   --sides: 3%;
   --tint-ice-blue: #edf3f4;
   --light-ice-blue: #dde8eb;
   --ice-blue: #bdd3d8;
   --medium-ice-blue: #9dbec5;
   --dark-ice-blue: #7da8b3;
   --darkest-ice-blue: #5d929f;
   --white: #f8f8f8;
   --black: #121212;
   --max-width: 900px;
}

/* ========== LAYOUT ========== */

html {
   height: 100dvh;
}

body {
   height: 100%;
   display: flex;
   gap: 1em;
   flex-direction: column;
   background-color: var(--black);
   color: var(--white);
   padding-inline: var(--sides);
}

header,
main,
footer {
   margin-inline: auto;
   width: min(100%, var(--max-width));

}

header {
   flex: 0 1 auto;
   margin-block: .8em;
}

main {
   flex: 1 0 auto;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   gap: 1em;
}

footer {
   flex: 0 1 auto;
   margin-block: .8em;
}

/* ========== TYPOGRAPHY ========== */

.geom-font {
   font-family: "Geom", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
}

h1, p, form {
   font-family: "Geom", sans-serif;
   text-align: center;
}

/* ========== HEADER ========== */

header {
   h1, p.subheading {
      line-height: 1.2;
      text-wrap: balance;
      letter-spacing: 0.011em;
   }

   h1 {
      font-size: clamp(1.5rem, 6.65vw, 4.4rem);
      font-variant: petite-caps;
      width: min(95%, (var(--max-width) - 2rem));
   }

   p.subheading {
      font-size: clamp(1rem, 0.5rem + 4vw, 2.4rem);
      font-weight: 500;
      font-variant: all-petite-caps;
      max-width: 93%;
   }
}

/* ========== FORM ========== */

form {
   display: flex;
   flex-wrap: wrap;
   gap: 1em;
   align-content: stretch;
   justify-content: stretch;

   > * {
      height: 47px;
      font-size: 1rem;
      padding-block: .5px;
   }
}

.seed-picker-wrapper {
   flex: 0 0 auto;
   aspect-ratio: 1 / 1;
   border: white 1px solid;

   > input[type="color"] {
      aspect-ratio: 1/1;
      font-size: .5em;
      height: 100%;
      border: none;
      padding: 0;
   }

   > input[type="color"]::-webkit-color-swatch-wrapper {
      padding: 0;
   }
}

.dropdown-wrapper {
   flex: 1 1 auto;
	border: 1px white solid;

   select.dropdown {
      height: 100%;
      width: 100%;
      border: 2px black solid;
      font-size: 1rem;
      font-weight: 500;
      text-align: center;
   }
}

/* ========== BUTTON ========== */

/* Loosely based on the BIG Jelly Button from https://codepen.io/arronhunt/pen/WWOOeO. Original source from Mathias Adam: https://dribbble.com/shots/6209185-BIG-Jelly-Button */
.create-palette-btn {
   flex: 1 1 auto;
   font-size: 1.1rem;
   font-weight: 600;
   line-height: 2.5rem;
   color: var(--white);
   text-shadow: 0 -.5px 0.8px var(--darkest-ice-blue);
   cursor: pointer;
   position: relative;
   padding-inline: 1.5rem;
   border: 1px solid var(--ice-blue);
   border-radius: 3.75rem;
   background-color: var(--ice-blue);
   background-image: linear-gradient(-180deg, var(--ice-blue) 0%, var(--darkest-ice-blue) 100%);
   box-shadow:
      0 -0.25rem 1.5rem var(--darkest-ice-blue) inset,
      0 0.75rem 0.5rem var(--ice-blue) inset,
      0 0.25rem 0.5rem 0 var(--med-ice-blue) inset;

   &:hover {
      transform: scale(1.025);
   }

   /* TODO: I don't think any of the below styles are working since I switched the button tag back to an input tag. Will the button tag be ok?  */

   /* &span {
      color: var(--white);
      background-image: linear-gradient(0deg, var(--dark-ice-blue) 0%, var(--light-ice-blue) 100%);
      background-clip: text;
      filter: drop-shadow(0 2px 2px var(--darkest-ice-blue));
   } */

   /* makes the reflective line near the top */
   /* &::before {
      content: "";
      display: block;
      height: 0.1rem;
      position: absolute;
      top: 0.3rem;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 6.5rem);
      background: var(--white);
      border-radius: 100%;
      opacity: 0.7;
      background-image: linear-gradient(-270deg, rgba(255, 255, 255, 0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255, 255, 255, 0.00) 100%);
   } */

   /* creates a VERY light reflective line under the text */
   /* &::after {
      content: "";
      display: block;
      height: 0.25rem;
      position: absolute;
      bottom: 0.75rem;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 7.5rem);
      background: #fff;
      border-radius: 100%;
      filter: blur(1px);
      opacity: 0.05;
      background-image: linear-gradient(-270deg, rgba(255, 255, 255, 0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255, 255, 255, 0.00) 100%);
   } */
}

/* ========== PALETTE ========== */

#generated-palette {
   flex: 1 1 auto;
   display: grid;
   grid-auto-flow: column;
   grid-template-columns: auto;
   margin-inline: .25em;
   background: linear-gradient(in hsl longer hue 90deg, #b36a9b, cadetblue);

   > div.color {
      display: grid;
      grid-template-rows: 1fr 2em;
      gap: .25em;
      height: 100%;
   }
}
