:root {
	--white: #f8f8f8;
	--black: #151515;
	--black-accent: #000000dd;
	--black-border: solid .2px var(--black-accent);
	--max-width: 900px;
	--btn-color: #31d3d6;
	--black-text-shadow:
		1.25px 1.25px .25px var(--black-accent),
		0.1px -0.1px 0 var(--black-accent),
		-0.15px 0.15px 0 var(--black-accent),
		-0.1px -0.1px 0 var(--black-accent);
	--input-font-size: clamp(1.15rem, -0.1rem + 2.7vw, 1.38rem);
	--container-input-font-size: clamp(1.15rem, 8.5cqw, 1.34rem);
}

/* ========== LAYOUT ========== */

*, *::before, *::after {
	box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
	margin: 0 auto;
	padding: 0;
}

html {
	height: 100dvh;
	font-size: 100%;
}

body {
	color: var(--white);
	min-height: 100dvh;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--black);
	padding-block: 0.4vh 2vh;
}

main,
footer {
	width: min(97%, var(--max-width) - 40px);
	padding-inline: 3.5%;
	margin-inline: auto;
}

header {
	flex: 0 1 auto;
	margin-inline: auto;
	padding-inline: 1%;
	width: min(98%, (var(--max-width) - 40px));
}

main {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-top: 1.7em;
}

/* ========== TYPOGRAPHY ========== */

h1,
header,
form,
button {
	font-family: "Geom", sans-serif;
	font-weight: 600;
	text-align: center;
	text-wrap: balance;
}

/* ========== HEADER ========== */

header {
	letter-spacing: 0.04em;

	> h1 {
		font-size: clamp(3.8rem, 8.09vw, 4.8rem);
		font-variant: petite-caps;
		line-height: 1.2;
	}

	> p.subheading {
		font-size: clamp(1.8rem, 0.1rem + 3.67vw, 2.25rem);
		font-weight: 400;
		word-spacing: 0.07em;
		line-height: 1;
		font-variant: all-petite-caps;
		margin-top: -0.19em;
	}
}

/* ========== FORM ========== */

input, button, textarea, select {
  font: inherit;
}

input,
select {
	cursor: pointer;
}

form {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em 0.6em;
	align-content: stretch;
	justify-content: stretch;
	font-size: var(--input-font-size);
	font-weight: 700;

	> * {
		height: 47px;
		font-variant: all-petite-caps;
	}

	.seed-color-input-wrapper {
		container: inputs / inline-size;
		display: flex;
		flex: 2 1 10.4rem;
		border: solid 1.4px var(--white);
		justify-content: center;
		align-items: center;

		p.seed-color-overlay {
			z-index: 5;
			position: absolute;
			color: var(--black);
			pointer-events: none;
			padding-inline: 0.75rem;
		}

		> input[type="color"] {
			min-height: 100%;
			width: 100%;
			border: var(--black-border);
			border-inline-width: 1.6px;
			z-index: 0;

			&::-webkit-color-swatch-wrapper {
				padding: 2px 1px;
			}

			&::-webkit-color-swatch {
				border: 1px solid var(--black);
			}
		}
	}

	.dropdown-wrapper {
		container: inputs / inline-size;
		flex: 2 1 10.4rem;
		border: solid 1px var(--white);
		background-color: var(--white);

		select.scheme-dropdown {
			text-align: center;
			background-color: var(--white);
			border: var(--black-border);
			height: 100%;
			width: 100%;
		}
	}
}

/* ========== PALETTE ========== */
#generated-palette {
	flex: 1 1 auto;
	height: 100%;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: auto;
	background: linear-gradient(in hsl longer hue 90deg, #b36a9b80, #31d3d680);

	> div.color {
		display: grid;
		grid-template-rows: 1fr;
		gap: .25em;
		height: 100%;
		z-index: 4;

		> p.hex-label {
			font-family: 'Poppins', sans-serif;
			font-size: clamp(1rem, 2.9vw, 1.1rem);
			letter-spacing: 0.03em;
			padding: 0.2em 0.4em;
			;
		}
	}
}

/* ========== FOOTER ========== */

footer > p#click-any-color {
	font-family: 'Poppins', sans-serif;
	font-size: clamp(0.72rem, 1.9vw, 0.85rem);
	font-weight: 200;
	color: var(--white);
	opacity: .9;
	font-style: italic;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: lowercase;
	margin-top: 0.7em;
}

/* ========== BUTTONS ETC. ========== */
#footer > .hidden {
	display: none;
}

.btn {
	color: var(--white);
	font-variant: all-petite-caps;
	letter-spacing: 0.025em;
	text-shadow: var(--black-text-shadow);
	border: 0.1px solid var(--btn-color);
	border-radius: 1.15rem;
	width: 100%;
	transition: background 0.3s ease;
	background: linear-gradient(to bottom, var(--btn-color), color-mix(in srgb, var(--btn-color), black 65%));
	padding: 0 0.7em 0.2em 0.7em;

	&:hover {
		background: linear-gradient(to bottom, color-mix(in srgb, var(--btn-color), black 20%), color-mix(in srgb, var(--btn-color), black 64%));
	}

	&:active {
		transform: translateY(1px);
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		background: linear-gradient(to bottom, color-mix(in srgb, var(--btn-color), black 30%), color-mix(in srgb, var(--btn-color), black 74%));
	}
}

div#create-palette-btn-wrapper {
	container: inputs / inline-size;
	flex: 2 1 11rem;

	#create-palette-btn {
		height: 100%;
		word-spacing: 0.04em;
	}
}

#copy-all-btn {
	font-size: clamp(1.28rem, 3vw, 1.5rem);
	height: 47px;
	width: 100%;
	margin-top: 0.7em;
}

@container inputs (width < 225px) {
	form {

		> div.seed-color-input-wrapper > p.seed-color-overlay,
		> div.dropdown-wrapper > select.scheme-dropdown,
		> div#create-palette-btn-wrapper > input[type="submit"]#create-palette-btn {
			font-size: var(--container-input-font-size);
			text-wrap: balance;
			line-height: 1;
		}
	}
}

/* =================================== */
/* ========== MEDIA QUERIES ========== */
/* =================================== */

@media(width < 560px) {
	body {
		padding-block: 1.8dvh 2.2dvh;
	}

	main {
		margin-top: 1em;
	}

	header {
		> h1 {
			font-size: clamp(1rem, 0.05rem + 11.6vw, 3.8rem);
			margin-top: -0.25em;
		}

		> p.subheading {
			font-size: clamp(1rem, 0.2rem + 5vw, 1.8rem);
			line-height: 1;
			margin-top: -0.095em;
		}
	}

	form {
		gap: 0.7rem;
		font-size: clamp(1rem, 0.049rem + 5vw, 1.26rem);

		> * {
			height: 38px;
		}

		& .seed-color-input-wrapper {
			border: unset;
		}
	}

	#generated-palette {
		grid-auto-flow: row;

		div.color {
			grid-template-rows: 1fr;

			> div.color-box {
				grid-area: 1 / 1 / 2 / 2;
				z-index: 5;
			}

			> p.hex-label {
				grid-area: 1 / 1 / 2 / 2;
				z-index: 10;
				align-self: center;
				font-size: clamp(1rem, 0.35rem + 4.5vw, 1.5rem);
				font-weight: 700;
				text-transform: uppercase;
				text-shadow: var(--black-text-shadow);
				-webkit-text-stroke: 0.225px #000000;
			}
		}
	}

	#copy-all-btn {
		font-size: clamp(1rem, 5.3vw, 1.2rem);
		height: 40px;
	}
}